{% extends "core/base.html" %}
{% block section_title %}{{ group }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card mt-3">
            <div class="card-body">
                <h4>Description</h4>
                <div class="card-text"><p>{{ group.description }}</p></div>
                <div class="card-text">
                    <p>Customer: <a href="{% url 'customer' group.customer.id %}">
                        {{ group.customer }}
                    </a></p>
                <table class="table table-bordered">
                    <tr>
                    <th>Logins</th>
                    </tr>
                    {% for login in logins %}
                    <tr>
                        <td><a href="{% url 'user' login.user.id %}">
                            {{ login }}
                        </a></td>
                    </tr>
                    {% endfor %}
                </table>

        {% if groups %}
                <table class="table table-bordered">
                    <tr>
                    <th>Group Name</th>
                    <th>Address</th>
                    </tr>
                    {% for group in groups %}
                    <tr>
                        <td>{{ group.name }}</td>
                        <td><a href="mailto:{{ group.mail_address }}">{{ group.mail_address }}</a></td>
                    </tr>
                    {% endfor %}
                </table>
        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
