{% extends "core/base.html" %}
{% block section_title %}{{ device }}{% endblock %}
{% block content %}
<div class="ui cards">
    {% block device_details %}
        {% include "devices/device_details_block.html" %}
    {% endblock %}

    {% block warranty %}
        {% include "devices/warranty_block.html" %}
    {% endblock %}

    {% if device.os or software_relations or backup_relations or license_list %}
    <div class="card">
    <div class="content">

    {% if device.os %}
    <div class="header">Operating System</div>
    <ul>
        <li>{{ device.os }}</li>
    </ul>
    {% endif %}

    {% if software_relations %}
    <div class="header">Software</div>
    <ul>
    {% for relation in software_relations %}
        <li>{{ relation.software }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if license_list %}
    {% block license %}
        {% include "licenses/license_block.html" %}
    {% endblock %}
    {% endif %}

    {% if backup_relations %}
    <div class="header">Backup</div>
    <ul>
        {% for backup in backup_relations %}
        <li><a href="{% url 'backup' backup.id %}">{{ backup }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
    </div>
    {% endif %}

    {% if cpu_relations or ram_relations or disks_relations or raid_disk_pairs or device.host %}
    <div class="card">
    <div class="content">
    {% if cpu_relations or ram_relations or disks_relations or device.host %}
    <div class="header">Hardware</div>
    <table class="ui celled table">

    {% if cpu_relations %}
        <tr>
            <td><b>CPUs:</b></td>
            <td>
            {% for cpu in cpu_relations %}
                {{ cpu.amount }}x {{ cpu.cpu }}<br>
            {% endfor %}
            </td>
        </tr>
    {% endif %}

    {% if ram_relations %}
        <tr>
        <td><b>RAM Modules:</b></td>
        <td>
            {% for module in ram_relations %}
                {{ module.amount }}x {{ module.ram }}<br>
            {% endfor %}
        </td>
    </tr>
    {% endif %}

    {% if disks_relations %}
    <tr>
    <td><b>Disks:</b></td>
    <td>
            {% for disk in disks_relations %}
                {{ disk.amount }}x {{ disk.disk }}<br>
            {% endfor %}
    </td>
    </tr>
    {% endif %}
    </table>
    {% endif %}

    {% if raid_disk_pairs %}
    <div class="header">RAID</div>
    {% for raid, disks in raid_disk_pairs.items %}
    <table class="ui celled table">
        <tr>
            <td><b>Type:</b></td>
            <td>{{ raid.raid_type }}</td>
        </tr>
        <tr>
            <td><b>Usable Space</b></td>
            <td>{{ raid.usable_space }}</td>
        </tr>
        {% if disks %}
        {% for disk in disks %}
        <tr>
            <td><b>Disk Type</b></td>
            <td>{{ disk.disk }}</td>
        </tr>
        <tr>
            <td><b>Amount</b></td>
            <td>{{ disk.disk_amount }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    {% endfor %}
    {% endif %}

    {% if device.host %}
    <div class="header">Host</div>
    <div class="description">
            <a href="{% url 'device' device.host.id %}">{{ device.host }}</a>
    </div>
    {% endif %}
    </div>
    </div>
    {% endif %}

</div>
{% endblock %}
