[paths]
source = ${DEVENV_ROOT-default .}/src/
[html]
directory = ${DEVENV_ROOT-default .}/htmlcov
[run]
data_file = ${DEVENV_ROOT-default .}/.coverage
omit =
     *apps.py,
     *migrations/*,
     *settings*,
     *tests/*,
     *urls.py,
     *wsgi.py,
     *__init__.py,
     manage.py,
     *admin.py
