nix_direnv_watch_file devenv.nix
nix_direnv_watch_file devenv.lock
nix_direnv_watch_file devenv.yaml
nix_direnv_watch_file dev.sh
nix_direnv_watch_file pyproject.toml

if ! use flake . --impure; then
    echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi
