{% extends 'core/base.html' %}

{% block section_title %}Login{% endblock %}

{% block content %}
<form id="login" name="login" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="username" autofocus required id="id_username" placeholder="Username">
    </div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" name="password" required id="id_password" placeholder="Password">
    </div>
    <p>
        <button name="button_login" type="submit" class="btn btn-primary">Login</button>
    </p>
</form>
{% endblock %}
