    <div class="card">
    <div class="content">
    <div class="header">Description</div>
    <div class="description"><p>{{ device.description }}</p></div>
    <table class="ui celled table">
        <tr>
            <td><b>Serial Number:</b></td>
            <td><code>{{ device.serialnumber }}</code></td>
        </tr>
        <tr>
            <td><b>Category:</b></td>
            <td>{{ device.category }}</td>
        </tr>
        <tr>
            <td><b>Owner:</b></td>
            <td>{{ device.owner }}</td>
        </tr>
        <tr>
            <td><b>Customer:</b></td>
            <td><a href="{% url 'customer' device.customer.id %}">{{ device.customer }}</a></td>
        </tr>
        <tr>
            <td><b>Manufacturer:</b></td>
            <td>{{ device.manufacturer }}</td>
        </tr>
        <tr>
            <td><b>Model:</b></td>
            <td>{{ device.model }}</td>
        </tr>

        <tr>
            <td><b>Location:</b></td>
            <td>{{ device.location }}</td>
        </tr>
        <tr>
            <td><b>Installation Date:</b></td>
            <td>{{ device.installation_date }}</td>
        </tr>
    </table>
    </div>
    </div>
