{% extends "core/base.html" %}
{% block section_title %}{{ device.name }}{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col">
        <form action="{% url 'device_update' pk %}">
            <input type="submit" value="Edit Device" class="btn btn-primary">
        </form>
    </div>
</div>
<div class="row">
    <div class="col mt-3">
    {% block device_details %}
        {% include "devices/device_details_block.html" %}
    {% endblock %}
    </div>

    <div class="col mt-3">
    {% block warranty_details %}
        {% include "devices/warranty_block.html" %}
    {% endblock %}
    </div>

    <div class="col mt-3">
    {% block ips %}
        {% include "devices/ip_block.html" %}
    {% endblock %}
    </div>
</div>
{% endblock %}
