<div class="card mt-3">
    <h2 class="card-header">IPs <a href="{% url 'device_in_net_create' pk %}" class="add" title="Add" data-toggle="tooltip"><i class="material-icons">add</i></a></h2>
    <div class="card-body">
        <table class="table table-bordered">
            {% if device.nets %}
            {% regroup device.nets by name as nets_list %}
            {% for net in nets_list %}
            <tr>
                <td><b>{{ net.grouper }}</b></td>
                <td>
                    {% for ip in net.list %}
                        <a href="{% url 'net' ip.net_id %}">{{ ip.ip }}</a><br>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

