    {% if warranty_relations %}
    <div class="card">
    <div class="content">
    <div class="header">Warranty</div>
        {% for warranty in warranty_relations %}
        <table class="ui celled table">
        <tr>
        <td><b>Valid From:</b></td>
        <td>
            {{ warranty.valid_from }}<br>
        </td>
        <tr>
        <td><b>Valid Until:</b></td>
        <td>
            {{ warranty.valid_until }}<br>
        </td>
        <tr>
        <td><b>Duration:</b></td>
        <td>
            {{ warranty.duration_in_years }}<br>
        </td>
        <tr>
        <td><b>Type:</b></td>
        <td>
            {{ warranty.warranty_type }}<br>
        </td>
        </tr>
        </table>
        {% endfor %}
    </div>
    </div>
    {% endif %}
