<div class="card mt-3">
    <h2 class="card-header">Warranty</h2>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                <form action="{% url 'warranty_create' pk %}">
                    <input type="submit" value="Add Warranty" class="btn btn-primary">
                </form>
            </div>
        </div>
        {% if warranty_relations %}
        {% for warranty in warranty_relations %}
        <table class="table table-bordered">
            <tr>
            <td><b>Valid From:</b></td>
            <td>
                {{ warranty.valid_from }}<br>
            </td>
            </tr>
            <tr>
            <td><b>Valid Until:</b></td>
            <td>
                {{ warranty.valid_until }}<br>
            </td>
            </tr>
            <tr>
            <td><b>Duration:</b></td>
            <td>
                {{ warranty.duration_in_years }}<br>
            </td>
            </tr>
            <tr>
            <td><b>Type:</b></td>
            <td>
                {{ warranty.warranty_type }}<br>
            </td>
            </tr>
        </table>
        {% endfor %}
        {% endif %}
    </div>
</div>
