{% extends "core/base.html" %}
{% block section_title %}{{ customer.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col mt-3">

        <div class="card mt-3">
            <div class="card-body">
                <h4>Description</h4>
                <div class="card-text"><p>{{ customer.description }}</p></div>
                <h4>Project Manager</h4>
                <div class="card-text"><p>{{ customer.project_manager }}</p></div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
