{% extends 'core/base.html' %}

{% block section_title %}Login{% endblock %}

{% block content %}
<form id="login" name="login" method="post">
    {% csrf_token %}
    <p>
        <label for="id_username">Username:</label>
    <div class="ui input">
        <input type="text" name="username" autofocus required id="id_username">
    </div>
    </p>
    <p>
        <label for="id_password">Password:</label>
    <div class="ui input">
        <input type="password" name="password" required id="id_password">
    </div>
    </p>
    <p>
        <button name="button_login" type="submit" class="btn btn-primary">Login</button>
    </p>
</form>
{% endblock %}
