{% extends "core/base.html" %}
{% load render_table from django_tables2 %}
{% block section_title %}List of Customers{% endblock %}
{% block content %}
{% if request.user.is_superuser %}
<div class="row mb-3">
    <div class="col">
        <button hx-get="{% url 'htmx_create_customer' %}" hx-target="#htmx-create-customer" class="btn btn-primary"
            _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Add Customer</button>
    </div>
    <div class="col" id="htmx-create-customer"></div>
</div>
{% endif %}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            {% render_table customers %}
        </div>
    </div>
</div>
<script>
    function closeModal() {
        var container = document.getElementById("htmx-create-customer")
        var backdrop = document.getElementById("modal-backdrop")
        var modal = document.getElementById("modal")

        modal.classList.remove("show")
        backdrop.classList.remove("show")

        setTimeout(function () {
            container.removeChild(backdrop)
            container.removeChild(modal)
        }, 200)
    }
</script>

{% endblock %}
