{% extends "inventory/base.html" %}
{% block section_title %}{{ cronjob.name }}{% endblock %}
{% block content %}
<h3>Description</h3>
<p><b>Host:</b> <a href="{% url 'computer' cronjob.host.id %}">{{ cronjob.host }}</a></p>
<p><b>Command: </b>{{ cronjob.command }}</p>
<table cellpadding="10">
  <tr>
    <th>Minute</th>
    <th>Hour</th>
    <th>Day of Week</th>
    <th>Day of Month</th>
    <th>Month</th>
  </tr>
  <tr>
    <td>{{ cronjob.minutes }}</td>
    <td>{{ cronjob.hours }}</td>
    <td>{{ cronjob.weekday }}</td>
    <td>{{ cronjob.day }}</td>
    <td>{{ cronjob.month }}</td>
  </tr>
</table>
{% endblock %}
