body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;
}

table, th, td {
    border: 1px solid black;
}

th {
    text-align: left;
}

body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;

p.copyright {
    font-size:10px
}
