{% extends "core/base.html" %}
{% block section_title %}{{ group }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card mt-3">
            <div class="card-body">
                <div class="card-text">
                    <ul>
                        <li>Customer: <a href="{% url 'customer' group.customer.id %}">{{ group.customer }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
