{% extends "inventory/base.html" %}
{% load render_table from django_tables2 %}
{% block section_title %}List of Computers{% endblock %}
{% block content %}
<div class="ui form">
    <form action="" method="get" class="ui form">
        <div class="fields">
        <div class="field">
        {{ filter.form.name__contains.label_tag }}
        {{ filter.form.name__contains }}
        </div>
        <div class="field">
        {{ filter.form.owner.label_tag }}
        {{ filter.form.owner }}
        </div>
        <div class="field">
        <button type="submit" class="ui button">Submit</button>
        </div>
        </div>
    </form>
</div>
{% render_table table %}
{% endblock %}
