<div class="card mt-3">
    <h2 class="card-header">IPs <a href="{% url 'device_in_net_create' pk %}" class="add" title="Add" data-toggle="tooltip"><i class="material-icons">add</i></a></h2>
    <div class="card-body">
        <table class="table table-bordered">
            {% if net_relations %}
            {% for net in net_relations %}
            <tr>
                <td><b>{{ net.net }}</b></td>
                <td>
                    <a href="{% url 'net' net.net.pk %}">{{ net }}</a><br>
                </td>
                <td>
                    <a href="{% url 'device_in_net_update' net.pk %}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">edit</i></a>
                    <a href="{% url 'device_in_net_delete' net.pk %}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">delete</i></a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
</div>

