{% extends "inventory/base.html" %}
{% block section_title %}{{ backup.name }}{% endblock %}
{% block content %}
<div class="ui cards">
    <div class="card">
    <div class="content">
    <div class="header">Description</div>
    <div class="description"><p>{{ backup.description }}</p></div>
    <table class="ui celled table">
        <tr>
            <th><b>Computer:</b></th>
            <td><a href="{% url 'computer' backup.computer.id %}">{{ backup.computer }}</a></td>
        </tr>
        <tr>
            <th><b>Backup Method:</b></th>
            <td>{{ backup.method }}</td>
        </tr>
        <tr>
            <th><b>Backup Software:</b></th>
            <td>{{ backup.software }}</td>
        </tr>
        <tr>
            <th><b>Exec Time:</b></th>
            <td>{{ backup.exec_time }}</td>
        </tr>
        <tr>
            <th><b>Exec Day:</b></th>
            <td>{{ backup.exec_day }}</td>
        </tr>
    </table>
        {% if target_device_list %}
        <div class="card">
        <div class="content">
        <div class="header">Target Devices</div>
        <table class="ui celled table">
        {% for device in target_device_list %}
        <tr>
            <th><b>Target Device:</b></th>
            <td><a href="{% url 'computer' device.device.id %}">{{ device.device }}</a></td>
        </tr>
        <tr>
            <th><b>Target Path:</b></th>
            <td>{{ device.target_path }}</td>
        </tr>
        {% endfor %}
        </table>
        </div>
        </div>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}
