{% extends "inventory/base.html" %}
{% block section_title %}{{ computer.name }}{% endblock %}
{% block content %}
    <h3>Description</h3>
    <p>{{ computer.description }}</p>
    <p><b>OS: </b>{{ computer.os }}</p>
    {% if cpu_list %}
    <p><b>CPUs:</b></p>
    <p>
        <ul>
            {% for cpu in cpu_list %}
                <li>{{ cpu.amount }}x {{ cpu.cpu }}</li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
    {% if ram_list %}
    <p><b>RAM Modules:</b></p>
    <p>
        <ul>
            {% for module in ram_list %}
                <li>{{ module.amount }}x {{ module.ram }}</li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
    {% if disks_list %}
    <p><b>Disks:</b></p>
    <p>
        <ul>
            {% for disk in disks_list %}
                <li>{{ disk.amount }}x {{ disk.disk }}</li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
    {% if computer.host %}
    <p><b>Host:</b> <a href="{% url 'computer' computer.host.id %}">{{ computer.host }}</a></p>
    {% else %}
    <p><b>Host:</b> None</p>
    {% endif %}
{% endblock %}
