{% extends "inventory/base.html" %}
{% block section_title %}{{ computer }}{% endblock %}
{% block content %}
<div class="ui cards">
    <div class="card">
    <div class="content">
    <div class="header">Description</div>
    <div class="description"><p>{{ computer.description }}</p></div>
    <table class="ui celled table">
        <tr>
            <th><b>OS:</b></th>
            <td>{{ computer.os }}</td>
        </tr>
        <tr>
            <th><b>Serial Number:</b></th>
            <td><code>{{ computer.serialnumber }}</code></td>
        </tr>
        <tr>
            <th><b>Category:</b></th>
            <td>{{ computer.category }}</td>
        </tr>
        <tr>
            <th><b>Owner:</b></th>
            <td>{{ computer.owner }}</td>
        </tr>
        <tr>
            <th><b>Customer:</b></th>
            <td><a href="{% url 'customer' computer.customer.id %}">{{ computer.customer }}</a></td>
        </tr>
        <tr>
            <th><b>Manufacturer:</b></th>
            <td>{{ computer.manufacturer }}</td>
        </tr>
        <tr>
            <th><b>Location:</b></th>
            <td>{{ computer.location }}</td>
        </tr>
        {% if computer.user %}
        <tr>
            <th><b>User:</b></th>
            <td><a href="{% url 'user' computer.user.id %}">{{ computer.user }}</a></td>
        </tr>
        {% endif %}
        <tr>
            <th><b>Installation Date:</b></th>
            <td>{{ computer.installation_date }}</td>
        </tr>
        <tr>
            <th><b>IPs:</b></th>
            <td>
                {% for net_id, ip in computer.ips.items %}
                    <a href="{% url 'net' net_id %}">{{ip}}</a><br>
                {% endfor %}
            </td>
        </tr>
    </table>
    </div>
    </div>
    {% if software_list or backup_list %}
    <div class="card">
    <div class="content">
    {% if software_list %}
    <div class="header">Software</div>
    <ul>
    {% for software in software_list %}
        <li>{{ software.software }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% if backup_list %}
    <div class="header">Backup</div>
    <ul>
        {% for backup in backup_list %}
        <li><a href="{% url 'backup' backup.id %}">{{ backup }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
    </div>
    {% endif %}

    {% if cpu_list or ram_list or disks_list or raid_relations or computer.host %}
    <div class="card">
    <div class="content">
    <div class="header">Hardware</div>
    <table class="ui celled table">
        <tr>
            <th><b>CPUs:</b></th>
            <td>
    {% if cpu_list %}
            {% for cpu in cpu_list %}
                {{ cpu.amount }}x {{ cpu.cpu }}<br>
            {% endfor %}
            </td>
        </tr>
    {% endif %}
        <tr>
        <th><b>RAM Modules:</b></th>
        <td>
    {% if ram_list %}
            {% for module in ram_list %}
                {{ module.amount }}x {{ module.ram }}<br>
            {% endfor %}
        </td>
    </tr>
    {% endif %}
    <tr>
    <th><b>Disks:</b></th>
    <td>
    {% if disks_list %}
            {% for disk in disks_list %}
                {{ disk.amount }}x {{ disk.disk }}<br>
            {% endfor %}
    </td>
    </tr>
    {% endif %}
    </table>

    {% if raid_relations %}
    <div class="header">RAID</div>
    {% for raid in raid_relations %}
    <table class="ui celled table">
        <tr>
            <th><b>Type:</b></th>
            <td>{{ raid.raid_type }}</td>
        </tr>
        <tr>
            <th><b>Usable Space</b></th>
            <td>{{ raid.usable_space}}</td>
        </tr>
    </table>
    {% endfor %}
    {% endif %}

    {% if computer.host %}
    <div class="header">Host</div>
    <div class="description">
            <a href="{% url 'computer' computer.host.id %}">{{ computer.host }}</a>
    </div>
    {% endif %}
    </div>
    </div>
    {% endif %}

</div>
{% endblock %}
