{% extends "inventory/base.html" %}
{% block section_title %}{{ computer.name }}{% endblock %}
{% block content %}
    <h3>Description</h3>
    <p>{{ computer.description }}</p>
    <p><b>OS: </b>{{ computer.os }}</p>
    <p><b>CPU: </b>{{ cpu.amount }}x {{ cpu.cpu }}</p>
    <p><b>RAM Modules: </b>{{ ram.amount }}x {{ ram.ram }}</p>
    <p><b>IP: </b>{{ computer.ip }}</p>
    {% if disks_list %}
    <p><b>Disks:</b></p>
    <p>
        <ul>
            {% for disk in disks_list %}
                <li>{{ disk.amount }}x {{ disk.disk }}</li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
    {% if computer.host %}
    <p><b>Host:</b> <a href="{% url 'computer' computer.host.id %}">{{ computer.host }}</a></p>
    {% else %}
    <p><b>Host:</b> None</p>
    {% endif %}
    {% if cronjob_list %}
    <p><b>Cron Jobs:</b></p>
    <p>
        <ul>
            {% for cronjob in cronjob_list %}
                <li><a href="{% url 'cronjob' cronjob.id %}">{{ cronjob.name }}</a></li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
{% endblock %}
