{% extends "inventory/base.html" %}
{% block content %}
{% if cronjob_list %}
    <h3>Cron Job List</h3>
    <table class="sortable">
      <tr>
        <th>Name</th>
        <th>Hostname</th>
        <th>Minute</th>
        <th>Hour</th>
        <th>Day of Week</th>
        <th>Day of Month</th>
        <th>Month</th>
      </tr>
      {% for cronjob in cronjob_list %}
      <tr>
        <td><a href="{% url 'cronjob' cronjob.id %}">{{ cronjob.name }}</a></td>
        <td>{{ cronjob.host }}</td>
        <td>{{ cronjob.minutes }}</td>
        <td>{{ cronjob.hours }}</td>
        <td>{{ cronjob.weekday }}</td>
        <td>{{ cronjob.day }}</td>
        <td>{{ cronjob.month }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
{% endblock %}
