{% extends "inventory/base.html" %}
{% block section_title %}List of Customers{% endblock %}
{% block content %}
{% if customer_list %}
<table class="sortable">
    <tr>
        <th colspan="3">Name</th>
    </tr>
    {% for customer in customer_list %}
    <tr>
        <td><a href="{% url 'customer' customer.id %}">{{ customer.name }}</a></td>
        <td><a href="{% url 'computers' customer.id %}">Computers</a></td>
        <td><a href="{% url 'devices' customer.id %}">Devices</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
